.form-table {
    margin-left: auto;
    margin-right: auto;
}

.form-table input[type=email], [type=text], [type=password], [type=url] {
    width: 250px;
}

.form-table input[type=number] {
    width: 100px;
}

.form-table input[type=submit] {
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

.form-table input[type=textarea] {
    width: 100%;
    max-width: 100%;
}

.stea-camp-obligatoriu {
    color: red;
}
